site_name: XMU Chenggroup Wiki
site_url: https://wiki.cheng-group.net
repo_name: chenggroup/chenggroup.github.io
repo_url: https://github.com/chenggroup/chenggroup.github.io
extra:
  social:
    - icon: material/web
      link: https://www.cheng-group.net
      name: 课题组网站
    - icon: fontawesome/brands/github
      link: https://github.com/chenggroup
      name: 课题组Github
    - icon: fontawesome/solid/paper-plane
      link: mailto:chengjun@xmu.edu.cn
      name: 联系程俊老师
  alternate:
    - name: 中文
      link: /
      lang: zh
    - name: English
      link: /en/
      lang: en

plugins:
  - search:
      separator: '[\s\-\.]'
  - macros
  - i18n:
      docs_structure: suffix
      languages:
        - locale: zh
          default: true
          name: 中文
          build: true
        - locale: en
          name: English
          build: true
          nav_translations:
            集群使用: Cluster Usage
            开始编辑: How to Edit
            新生培训: For New Comers
            合作协同: Teamwork
            软件安装: Software Installation
            软件使用: Software Usage
            软件开发: Software Development
            研究技能: Research Skills
            疑难解答: Troubleshooting
            未完待续: To be continued
            隐患排查: Question Under Carpet
            杂项(Miscellaneous): Miscellaneous
          extra:
            social:
              - icon: material/web
                link: https://www.cheng-group.net
                name: Group Website
              - icon: fontawesome/brands/github
                link: https://github.com/chenggroup
                name: Group Github Organization
              - icon: fontawesome/solid/paper-plane
                link: mailto:chengjun@xmu.edu.cn
                name: Contact Prof. Jun Cheng
          theme:
            palette:
              - media: "(prefers-color-scheme)"
                toggle:
                  icon: material/brightness-auto
                  name: Switch to light mode
              - media: "(prefers-color-scheme: light)"
                scheme: default
                primary: teal
                toggle:
                  icon: material/lightbulb
                  name: Switch to dark mode
              - media: "(prefers-color-scheme: dark)"
                scheme: slate 
                primary: blue
                toggle:
                  icon: material/lightbulb-outline
                  name: Switch to automatic mode

theme:
  name: material
  custom_dir: overrides
  icon: 
    logo: fontawesome/solid/graduation-cap
    repo: fontawesome/brands/github
  palette:
    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: 切换至浅色模式
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: teal
      toggle:
        icon: material/lightbulb
        name: 切换至深色模式
    - media: "(prefers-color-scheme: dark)"
      scheme: slate 
      primary: blue
      toggle:
        icon: material/lightbulb-outline
        name: 切换至自动模式
  favicon: images/favicon.png
  language: zh
  features:
    - navigation.instant
    - navigation.sections
    - navigation.indexes
    - navigation.top
    - content.tooltips
    - search.suggest
    - content.code.annotate

markdown_extensions:
  # Python Markdown
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - toc:
      permalink: true

  # Python Markdown Extensions
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde

extra_javascript:
  - javascripts/analytic.js
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

nav:
  - Home: index.md
  - Wikis:
      - 开始编辑: wiki/how_to_edit/howtodo.md
      - 集群使用:
          - wiki/cluster_usage/cluster_usage.md
          - wiki/cluster_usage/ssh_note.md
          - wiki/cluster_usage/gpu_usage.md
          - wiki/cluster_usage/conda.md
          - wiki/cluster_usage/jupyter.md
          - wiki/cluster_usage/vscode_remote.md
          - wiki/cluster_usage/notification_for_hpc.md
          - wiki/cluster_usage/pack_backup.md
          - wiki/cluster_usage/tensorboard.md
      - 新生培训:
          - wiki/new_comers/toc.md
          - wiki/new_comers/linux.md
          - wiki/new_comers/read_papers.md
          - wiki/new_comers/presentation.md
          - wiki/new_comers/python_numpy.md
          - wiki/new_comers/qc_dft.md
          - wiki/new_comers/basis_pps.md
          - wiki/new_comers/dpmd.md
          - wiki/new_comers/dpgen.md
          - wiki/new_comers/workflow.md
      - wiki/book_recommendation.md
      - 合作协同:
          - wiki/teamwork/archive_rules.md
          - wiki/teamwork/git_usage.md
          - wiki/teamwork/tutorial_rules.md
      - 软件使用:
          - wiki/software_usage/default_version.md
          - wiki/software_usage/MDAnalysis.md
          - wiki/software_usage/Tips_for_LaTeX.md
          - CP2K:
              - wiki/software_usage/cp2k/cp2k.md
              - wiki/software_usage/cp2k/cp2k-e-f.md
              - wiki/software_usage/cp2k/cp2k-geoopt.md
              - wiki/software_usage/cp2k/cp2k-zpe.md 
              - wiki/software_usage/cp2k/cp2k-neb.md
              - wiki/software_usage/cp2k/cp2k-reftraj.md
              - wiki/software_usage/cp2k/cp2k-dft+u.md
              - wiki/software_usage/cp2k/cp2k-hf.md
              - wiki/software_usage/cp2k/cp2k-scan.md
              - wiki/software_usage/cp2k/cp2k-slab.md
              - wiki/software_usage/cp2k/cp2k-tools.md
              - wiki/software_usage/cp2k/cp2k-deepmd.md
              - wiki/software_usage/cp2k/cp2k-constrainedmd.md
          - wiki/software_usage/DP-GEN.md
          - wiki/software_usage/DeePMD-kit.md
          - wiki/software_usage/experience_of_dpmd_and_dpgen.md
          - wiki/software_usage/i-pi.md
          - wiki/software_usage/n2p2.md
          - wiki/software_usage/vmd.md
      - 软件安装:
          - wiki/software_installation/softwares.md
          - wiki/software_installation/install_from_src_in_conda.md
          - wiki/software_installation/gcc.md
          - DeePMD-kit:
              - wiki/software_installation/deepmd-kit/deepmd-kit_installation_new.md
              - wiki/software_installation/deepmd-kit/deepmd-kit_installation_ikkem.md
              - wiki/software_installation/deepmd-kit/deepmd-kit_installation_191.md
              - wiki/software_installation/deepmd-kit/deepmd-kit_installation_pc.md
              - wiki/software_installation/deepmd-kit/deepmd-kit_installation_51.md
          - wiki/software_installation/cp2k-7.1.md
      - 软件开发:
          - wiki/teamwork/git_usage.md
          - Lammps:
              - wiki/software_development/lammps/quick_start.md
              - wiki/software_development/lammps/installation.md
              - wiki/software_development/lammps/plugin.md
      - 研究技能:
          - wiki/skills/research_skill.md
          - wiki/skills/QS4writing.md
      - 疑难解答:
          - 未完待续: https://github.com/chenggroup/chenggroup.github.io/issues/123
      - 隐患排查:
          - wiki/question_under_carpet/chemical_computing.md
          - 未完待续: https://github.com/chenggroup/chenggroup.github.io/issues/131
      - 杂项(Miscellaneous): wiki/miscellaneous.md
  - ai2-kit: https://wiki.cheng-group.net/ai2-kit/
  - cp2kdata: https://robinzyb.github.io/cp2kdata/
  - ECToolkits: https://robinzyb.github.io/ECToolkits/