<script
  src="https://cdn.bootcdn.net/ajax/libs/jquery/3.3.1/jquery.min.js"
  crossorigin="anonymous"></script>
<script src="{{ site.baseurl }}/assets/js/toc.js"></script>
<script src="{{ site.baseurl }}/assets/js/scrollnav.min.umd.js"></script>

<script>
const content = document.querySelector('.md-content__inner');
const insertTarget = document.querySelector('#nav-toc-right');
scrollnav.init(content, {
    debug: false,
    sections: 'h2',
    subSections: 'h3',
    insertTarget: insertTarget,
    insertLocation: 'append',
    easingStyle: 'easeInOutQuint'
});
</script>

<script>
$(document).ready(function() {
    $('#nav-toc-left').toc({headers: 'h2, h3', showEffect: 'slideDown', showSpeed: 'quick'});
})
</script>
